@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body:hover{
  background: #3A1C71;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(0, 0, 3);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(121,5,181,1) 64%, rgba(0,212,255,1) 100%);
}
.wrapper{
  width: 400px;
  background: #3A1C71;
background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 7px;
  box-shadow: 7px 7px 20px rgba(194, 43, 43, 0.05);
}
.wrapper:hover
{

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, #FFFF00 0%, #EE82EE 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, #FFFF00 0%, #EE82EE 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, #FFFF00 0%, #EE82EE 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee82ee', endColorstr='#FFFF00', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, #FFFF00 0%, #EE82EE 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, #FFFF00 0%, #EE82EE 100%);

}
.wrapper header{
  display: flex;
  font-size: 21px;
  font-weight: 500;
  color: #000000;
  padding: 16px 15px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
header i{
  font-size: 0em;
  cursor: pointer;
  margin-right: 8px;
}
.wrapper.active header i{
  margin-left: 5px;
  font-size: 30px;
}
.wrapper .input-part{
  margin: 20px 25px 30px;
}
.wrapper.active .input-part{
  display: none;
}
.input-part .info-txt{
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}
.input-part .info-txt.error{
  color: #721c24;
  display: block;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
.input-part .info-txt.pending{
  color: #0c5460;
  display: block;
  background: #d1ecf1;
  border: 1px solid #bee5eb;
}
.input-part :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
}
.input-part input{
  text-align: center;
  padding: 0 15px;
  border: 1px solid rgb(173, 173, 173);
}
.input-part input:is(:focus, :valid){
  border: 2px solid #43AFFC;
}
.input-part input::placeholder{
  color: #bfbfbf;
}
.input-part .separator{
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator::before{
  content: "or";
  color: #776d6d;
  font-size: 19px;
  padding: 0 15px;
  background: #fff;
}
.input-part button{
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.input-part button:hover{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,5,181,1) 15%, rgba(238,27,75,1) 33%, rgba(44,195,63,1) 80%, rgba(70,140,217,1) 95%, rgba(0,212,255,1) 100%, rgba(9,9,121,1) 335%);
}

.wrapper .weather-part{
  display: none;
  margin: 30px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper.active .weather-part{
  display: flex;
}
.weather-part img{
  max-width: 125px;
}
.weather-part .temp{
  display: flex;
  font-weight: 500;
  font-size: 72px;
}
.weather-part .temp .numb{
  font-weight: 600;
}
.weather-part .temp .deg{
  font-size: 40px;
  display: block;
  margin: 10px 5px 0 0;
}
.weather-part .weather{
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}
.weather-part .location{
  display: flex;
  font-size: 19px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
  align-items: flex-start;
}
.location i{
  font-size: 22px;
  margin: 4px 5px 0 0;
}
.weather-part .bottom-details{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
.bottom-details .column{
  display: flex;
  width: 100%;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}
.column i{
  color: #5DBBFF;
  font-size: 40px;
}
.column.humidity{
  border-left: 1px solid #ccc;
}
.column .details{
  margin-left: 3px;
}
.details .temp, .humidity span{
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}
.details .temp .deg{
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}
.column .details p{
  font-size: 14px;
  margin-top: -6px;
}
.humidity i{
  font-size: 37px;
}
.back{
  text-align: center;
  margin-top: 100px;
  color: white;
  border: transparent;
  background-image: linear-gradient(to left top, #dbdbdb, #004d7a, #008793, #00bf72, #a8eb12);
}

.back{
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-left: 32%;
}
a{
  text-decoration: none;
  color: white;
}
.name{
  padding: 10px;
  margin-top: -10px;
  margin-left: -10px;
  /* float: right; */
  border: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ar{
  background: #00FF00;
  background: -webkit-linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
  background: -moz-linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
  background: linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background-color: #00bf72;
  color: rgb(0, 0, 0);
}
.name:hover{
  content: arun;
  background-color: #857d7d;
}
.ar1{
background-color: #3A1C71;
color: white;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
}
